/* Cache */
*.ko
*.mod.c
*.mod.o
*.symvers
*.order
*.cmd
*.o
*.swp

/* tmp */
**/.tmp_versions/
**/.DS_Store

/* binary */
*.daemon
*.actuator_controller
*.sensor_controller
*.command_controller
*.data_controller
*.user_interface
*.refine_controller
*.storage_controller

/* server & client test binary */
*.server
*.client
