/* Cache */
*.ko
*.mod.c
*.mod.o
*.symvers
*.order
*.cmd
*.o
*.swp

/* tmp */
**/.tmp_versions/
**/.DS_Store

/* binary */
*.daemon
*.actuator_ctl
*.sensor_ctl
*.command_ctl
*.data_ctl
*.ui_ctl
*.refine_ctl
*.storage_ctl

/* server & client test binary */
*.server
*.client
